<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title_template %}{% block title %}{% endblock %} | Stimulus Recipes{% endblock %}</title>
        <meta name="description" content="{% block description %}Your source for Stimulus Recipes!{% endblock %}">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
    <div class="md:container md:mx-auto px-4">
        {% block body %}
            <header>
                <a href="{{ path('homepage') }}">Stimulus Recipes</a>
            </header>
            <section class="mt-5 flex">
                <div class="w-1/5">
                    <h2>Available Recipes</h2>
                    <ul>
                        {% for item in recipes %}
                            <li>
                                {% if item.name == recipe.name|default %}
                                    <strong>{{ item.title }}</strong>
                                {% else %}
                                    <a href="{{ path('recipe', { 'name': item.name }) }}">{{ item.title }}</a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="w-4/5">
                    {% block content %}{% endblock %}
                </div>
            </section>
            <footer class="mt-5 text-center">
                <span>&copy; <a href="https://symfony.com/">Symfony</a>. All Rights Reserved.</span>
            </footer>
        {% endblock %}
    </div>
    </body>
</html>
