{% extends 'base.html.twig' %}

{% block title %}{{ recipe.title }}{% endblock %}
{% block description %}{{ recipe.description }}{% endblock %}

{% block content %}
    <h1 class="text-3xl font-bold">{{ recipe.title }}</h1>
    <p>{{ recipe.description }}</p>

    {% if recipe.dependencies.js %}
        <h2 class="text-2xl font-semibold mt-3">JS Dependencies</h2>

        <p><em>Symfony AssetMapper</em></p>
        <pre><code>bin/console importmap:require {{ recipe.dependencies.js|join(' ') }}</code></pre>

        <p class="mt-1"><em>NPM</em></p>
        <pre><code>npm add {{ recipe.dependencies.js|join(' ') }}</code></pre>

        <p class="mt-1"><em>YARN</em></p>
        <pre><code>yarn add {{ recipe.dependencies.js|join(' ') }}</code></pre>
    {% endif %}

    {% if recipe.dependencies.php %}
        <h2 class="text-2xl font-semibold mt-3">PHP Dependencies</h2>
        <div>
            <pre><code>composer require {{ recipe.dependencies.php|join(' ') }}</code></pre>
        </div>
    {% endif %}

    {% if recipe.files %}
        <h2 class="text-2xl font-semibold mt-3">Files</h2>

        {% for file in recipe.files %}
            <p><em>{{ file.name }}</em></p>
            <pre class="mt-1"><code>{{ file.source|escape }}</code></pre>
        {% endfor %}
    {% endif %}

    <h2 class="text-2xl font-semibold mt-3">Demo</h2>
    <div class="mt-1">
        {{ block('demo', recipe.template) }}
    </div>
    <h2 class="text-2xl font-semibold mt-3">Source</h2>
    <pre class="mt-1"><code>{{ block('demo', recipe.template)|escape }}</code></pre>

    {% if recipe.references %}
        <h2 class="text-2xl font-semibold mt-3">Credit</h2>
        <ul>
            {% for name,url in recipe.references %}
                <li><a href="{{ url }}">{{ name matches '/^\\d+$/' ? url : name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
