{% extends 'base.html.twig' %}

{% block title %}{{ recipe.title }}{% endblock %}
{% block description %}{{ recipe.description }}{% endblock %}

{% block content %}
    <h1 class="text-3xl font-bold">{{ recipe.title }}</h1>
    <p>{{ recipe.description }}</p>

    {% if recipe.jsDependencies %}
        <h2 class="text-2xl font-semibold mt-3">Dependencies</h2>
        <div
            class="mt-1"
            data-controller="tabs"
            data-tabs-active-class="bg-gray-900 text-gray-100"
            data-tabs-default-tab-value="sf-asset-mapper"
        >
            <div class="flex">
                <button class="mr-2" data-target="sf-asset-mapper" data-tabs-target="btn" data-action="click->tabs#select">Symfony AssetMapper</button>
                <button class="mr-2" data-target="npm" data-tabs-target="btn" data-action="click->tabs#select">NPM</button>
                <button class="mr-2" data-target="yarn" data-tabs-target="btn" data-action="click->tabs#select">Yarn</button>
            </div>
            <div>
                <div data-tabs-target="tab" id="sf-asset-mapper">
                    <pre><code>bin/console importmap:require {{ recipe.jsDependencies|join(' ') }}</code></pre>
                </div>
                <div data-tabs-target="tab" id="npm" hidden>
                    <pre><code>npm add {{ recipe.jsDependencies|join(' ') }}</code></pre>
                </div>
                <div data-tabs-target="tab" id="yarn" hidden>
                    <pre><code>yarn add {{ recipe.jsDependencies|join(' ') }}</code></pre>
                </div>
            </div>
        </div>
    {% endif %}

    <h2 class="text-2xl font-semibold mt-3">Stimulus Controller</h2>
    <p><em>{{ recipe.controller.name }}</em></p>
    <pre class="mt-1"><code>{{ recipe.controller.source|escape }}</code></pre>

    <h2 class="text-2xl font-semibold mt-3">Demo</h2>
    <div class="mt-1">
        {{ block('demo', recipe.template) }}
    </div>
    <h2 class="text-2xl font-semibold mt-3">Source</h2>
    <pre class="mt-1"><code>{{ block('demo', recipe.template)|escape }}</code></pre>

    {% if recipe.credit %}
        <h2 class="text-2xl font-semibold mt-3">Credit</h2>
        <ul>
            {% for name,url in recipe.credit %}
                <li><a href="{{ url }}">{{ name matches '/^\\d+$/' ? url : name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
