{% extends 'base.html.twig' %}

{% block title %}{{ recipe.title }}{% endblock %}
{% block description %}{{ recipe.description }}{% endblock %}

{% block content %}
    <h1 class="text-3xl font-bold">{{ recipe.title }}</h1>
    <p>{{ recipe.description }}</p>

    {% if recipe.jsDependencies %}
        <h2 class="text-2xl font-semibold mt-3">JS Dependencies</h2>

        {% if recipe.dependencies.asset_mapper %}
            <p><em>Symfony AssetMapper</em></p>
            <pre><code>bin/console importmap:require {{ recipe.dependencies.asset_mapper|join(' ') }}</code></pre>
        {% endif %}

        {% if recipe.dependencies.npm %}
            <p><em>NPM</em></p>
            <pre><code>npm add {{ recipe.dependencies.npm|join(' ') }}</code></pre>
        {% endif %}
    {% endif %}

    {% if recipe.dependencies.php %}
        <h2 class="text-2xl font-semibold mt-3">PHP Dependencies</h2>
        <div>
            <pre><code>composer require {{ recipe.dependencies.php|join(' ') }}</code></pre>
        </div>
    {% endif %}

    {% if recipe.files %}
        <h2 class="text-2xl font-semibold mt-3">Files</h2>

        {% for file in recipe.files %}
            <p class="{% if not loop.first %}mt-1{% endif %}"><em>{{ file.path }}</em></p>
            <twig:HighlightCode :code="file.source" :language="file.extension" theme="github-dark" class="mt-1" />
        {% endfor %}
    {% endif %}

    <h2 class="text-2xl font-semibold mt-3">Demo</h2>
    <div class="mt-1">
        {{ block('demo', recipe.template) }}
    </div>
    <h2 class="text-2xl font-semibold mt-3">Source</h2>
    <twig:HighlightCode :code="block('demo', recipe.template)" language="twig" theme="github-dark" class="mt-1" />

    {% if recipe.references %}
        <h2 class="text-2xl font-semibold mt-3">Credit</h2>
        <ul>
            {% for name,url in recipe.references %}
                <li><a href="{{ url }}">{{ name matches '/^\\d+$/' ? url : name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
