{% extends 'base.html.twig' %}

{% block title %}{{ recipe.title }}{% endblock %}
{% block description %}{{ recipe.description }}{% endblock %}

{% block content %}
    <h1 class="text-3xl font-bold">{{ recipe.title }}</h1>
    <p>{{ recipe.description }}</p>

    {% if recipe.dependencies.recipes %}
        <h2 class="text-2xl font-semibold mt-3">Required Recipes</h2>

        <p><em>The following recipes are required:</em></p>
        <ul>
            {% for recipe in recipe.dependencies.recipes %}
                <li><a href="{{ path('recipe', {name: recipe}) }}">{{ recipe }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if recipe.dependencies.js %}
        <h2 class="text-2xl font-semibold mt-3">JS Dependencies</h2>

        <p><em>Symfony AssetMapper</em></p>
        <pre><code>bin/console importmap:require {{ recipe.dependencies.js|join(' ') }}</code></pre>

        <p><em>NPM</em></p>
        <pre><code>npm add {{ recipe.dependencies.js|join(' ') }}</code></pre>
    {% endif %}

    {% if recipe.dependencies.node %}
        <h2 class="text-2xl font-semibold mt-3">Node.js Dependencies</h2>

        <twig:Alert type="warning" class="mt-1">
            This recipe requires the following dependencies be installed with Node.js.
        </twig:Alert>

        <p><em>NPM</em></p>
        <pre><code>npm add {{ recipe.dependencies.node|join(' ') }}</code></pre>
    {% endif %}

    {% if recipe.dependencies.php %}
        <h2 class="text-2xl font-semibold mt-3">PHP Dependencies</h2>
        <div>
            <pre><code>composer require {{ recipe.dependencies.php|join(' ') }}</code></pre>
        </div>
    {% endif %}

    {% if block('instructions', recipe.template) is defined %}
        <h2 class="text-2xl font-semibold mt-3">Instructions</h2>

        {{ block('instructions', recipe.template) }}
    {% endif %}

    {% if recipe.files %}
        <h2 class="text-2xl font-semibold mt-3">Files</h2>

        {% for file in recipe.files %}
            <p><em>{{ file.path }}</em></p>
            <twig:HighlightCode :code="file.source" :language="file.extension" theme="github-dark" class="mb-3" />
        {% endfor %}
    {% endif %}

    <h2 class="text-2xl font-semibold mt-3">Demo</h2>
    <div class="mt-1">
        {{ block('demo', recipe.template) }}
    </div>
    <h2 class="text-2xl font-semibold mt-3">Source</h2>
    <twig:HighlightCode :code="recipe.demo" language="twig" theme="github-dark" class="mt-1" />

    {% if recipe.references %}
        <h2 class="text-2xl font-semibold mt-3">Credit</h2>
        <ul>
            {% for name,url in recipe.references %}
                <li><a href="{{ url }}">{{ name matches '/^\\d+$/' ? url : name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
